<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--<bean name="helloBean11" class="com.example.model.HelloBean" scope="prototype"/>
    <bean name="helloBean12" class="com.example.model.HelloBean" scope="prototype"/>-->

    <bean name="helloBean21" class="com.example.model.HelloBean" scope="singleton"/>
    <bean name="helloBean22" class="com.example.model.HelloBean" scope="singleton"/>

    <!-- Spring객체를 Singleton으로 생성한다 -> default가 Singleton이다-->
    <bean name="helloBean23" class="com.example.model.HelloBean" />
</beans>