<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mybatis.mapper.DeptMyBatisMapper">
    <select id="select" resultType="String">
        select now() as now
    </select>
    <select id="findAll" resultType="to">
        select *
        from dept2
    </select>
    <insert id="insert" parameterType="to">
        insert into dept2
        values (#{deptno}, #{dname}, #{loc})
    </insert>

    <update id="update" parameterType="to">
        update dept2
        set dname=#{dname}, loc=#{loc}
        where deptno=#{deptno}
    </update>
    <delete id="delete" parameterType="to">
        delete from dept2
        where deptno=#{deptno}
    </delete>
</mapper>