<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.board.mapper.BoardMapper">
    <select id="list" resultType="to">
        select seq, subject, writer, date_format(wdate, '%Y-%m-%d') wdate, hit, datediff(now(), wdate) wgap
        from board1
        order by seq desc
    </select>

    <select id="view" parameterType="to" resultType="to">
        select seq, subject, writer, mail, wip, wdate, hit, content
        from board1
        where seq=#{seq}
    </select>

    <update id="view_hit" parameterType="to">
        update board1
        set hit=hit+1
        where seq=#{seq}
    </update>

    <insert id="write_ok" parameterType="to">
        insert into board1
        values ( 0, #{subject}, #{writer}, #{mail}, password(#{password}), #{content}, 0, #{wip}, now() )
    </insert>

    <select id="modify" parameterType="to" resultType="to">
        select seq, subject, writer, mail, content
        from board1
        where seq=#{seq}
    </select>

    <update id="modify_ok" parameterType="to">
        update board1
        set subject=#{subject}, mail=#{mail}, content=#{content}
        where password=password(#{password}) and seq=#{seq}
    </update >

    <select id="delete" parameterType="to" resultType="to">
        select seq, subject, writer
        from board1
        where seq=#{seq}
    </select>

    <delete id="delete_ok" parameterType="to">
        delete from board1
        where password=password(#{password}) and seq=#{seq}
    </delete>
</mapper>